configuration {
    /* Color theme */
    /* color-enabled: true;
    color-window: ["argb:bb273238", "argb:00000000"];
    color-normal: ["argb:00000000", "#c1c1c1", "argb:00000000", "argb:00000000", "#ffffff"];
    color-active: ["argb:00000000", "#80cbc4", "argb:00000000", "argb:00000000", "#80cbc4"];
    color-urgent: "#273238, #ff1844, #273238, #394249, #ff1844";
    separator-style: "solid"; */

    /* Window style */
    font: "System San Francisco Display 20";
    /* lines: 5;
    fixed-num-lines: true;
    eh: 1;
    line-margin: 16;
    width: 100;
    padding: 1400;
    opacity: 85;
    bw: 0;
    columns: 1; */
    /* fake-transparency:     true */

    /* Mode */
    /* mode: "run"; */
    modi: "window,run,calc,ssh";
    combi-modi: "run,calc";
    sidebar-mode: "true";
    terminal: "kitty";
    ssh-client: "ssh";
    ssh-command: "{terminal} -e \"{ssh-client} {host}\"";
    run-command: "{cmd}";
    run-shell-command: "{terminal} -e {cmd}";
}
